
LoRaMessenger/local.properties
LoRaMessenger/.gradle/
LoRaMessenger/.idea/
LoRaMessenger/app/build/
LoRaMessenger/.idea/misc.xml
LoRaMessenger/.idea/vcs.xml
LoRaMessenger/.idea/misc.xml
LoRaMessenger/.idea/vcs.xml
LoRaMessenger/.idea/vcs.xml
LoRaMessenger/.idea/misc.xml
